---
import party from "../../data/parties/bg-velichie.json";
---

<html lang="en">
  <head>
    <title>{party.name.english} - Political Parties Database</title>
  </head>
  <body>
    <a href="/ppdb/">← Back to homepage</a>

    <h1>{party.name.english}</h1>
    <p>{party.name.native.join(", ")}</p>
    <p>Literal meaning: {party.name.literal}</p>

    <h2>Basic information</h2>
    <table>
      <tr>
        <th>ID</th>
        <td>{party.id}</td>
      </tr>
      <tr>
        <th>Country</th>
        <td>{party.country_id}</td>
      </tr>
      <tr>
        <th>Status</th>
        <td>{party.status}</td>
      </tr>
      <tr>
        <th>Founded</th>
        <td>{party.dates.founded.date}</td>
      </tr>
    </table>

    <h2>Summary</h2>
    <p>{party.summary}</p>

    <h2>Leadership</h2>
    <table>
      <tr>
        <th>Office</th>
        <th>Person</th>
        <th>Since</th>
      </tr>
      {party.leadership.map((leader) => (
        <tr>
          <td>{leader.title}</td>
          <td>{leader.person}</td>
          <td>{leader.since ?? "Unknown"}</td>
        </tr>
      ))}
    </table>
  </body>
</html>
